@page
@model WebClient.Pages.ManageEventsModel
@{
}
<table>
         <tr>
            <td>Id</td>
            <td><input type="number" readonly asp-for="events.Id"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text"asp-for="events.Name"/></td>
        </tr>
         <tr>
            <td>Description</td>
             <td><textarea cols="20" rows="10" asp-for="events.Description"/></textarea></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><input type="text"asp-for="events.Location"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="date"asp-for="events.Date"/></td>
        </tr>
        <tr>
            <td>PartnerId</td>
            <td><input type="number"asp-for="events.PartnerId"/></td>
        </tr>
        <td><input type="submit" name="btnUpdate"value="Update" asp-page-handler="Update"/></td>
             <td><input type="submit" id="btnDelete"value="Delete"asp-page-handler="Delete"/></td>
        </tr>
    </table>
